<html>
  <head>
    <link rel="stylesheet" href="https://prosemirror.net/css/editor.css" />
  </head>
  <body>
    <div id="editor"></div>
    <div style="display: none" id="content">
      <h3>Hello ProseMirror</h3>

      <p>
        <a href="http://a">a</a>
        <a href="http://b">b</a>
        <a href="http://c">c</a>
      </p>

      <p>
        This is an inline node:
        <span dino-type="brontosaurus">:brontosaurus</span>
      </p>
    </div>
  </body>
</html>
